flask
flask-cors==4.0.0
gunicorn
numpy
pymongo
Pillow
python-dotenv

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1

--extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.15.2